<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户登录</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<header class="container text-center">
	<%- include('header')%>
</header>

<div class="wrapper">
	<div class="container wrap-main">
		<form action="/login" method="post" class="form-horizontal">

			<div class="form-group">
				<label for="userName" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-6">
					<input type="text" name="userName" class="form-control" placeholder="用户名">
				</div>
				<label class="col-sm-4 has-error"></label>
			</div>
			<div class="form-group">
				<label for="userName" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-6">
					<input type="password" name="pwd" class="form-control" placeholder="请输入密码">
				</div>
				<label class="col-sm-4 has-error"></label>
			</div>
  			<!-- <div class="form-group">
  				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label>
						    <input type="checkbox"> 一周内登录
						</label>
					</div>
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<button type="submit" class="btn btn-warning btn-block" name="submit">登录</button>
				</div>
			</div>
				<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<a href="/regist">用户注册</a>
				</div>

			</div>
		</form>
	</div>
</div>
<script type="text/javascript" src="/js/jquery.min.1.12.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<script type="text/javascript">
	$(function(){
		eg.checkLogin();
	});
</script>
</body>
</html>